<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Nexus NX</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
		<script src="https://kit.fontawesome.com/37212eb3e5.js" crossorigin="anonymous"></script>
		<style>
			.box-shadow{
				-webkit-box-shadow: 3px 0px 14px -2px rgba(0,0,0,0.20) !important;
				-moz-box-shadow: 3px 0px 14px -2px rgba(0,0,0,0.20) !important;
				box-shadow: 3px 0px 14px -2px rgba(0,0,0,0.20) !important;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light mb-5">
			<a class="navbar-brand" href="/operadoras">
				<img src="https://nexusnx.com/logos/logo-default.png" width="90" class="d-inline-block align-center" alt="">
			</a>
			<a class="btn btn-outline-success my-2 my-sm-0" href="/operadoras/cad">Cadastrar operadora</a>
		</nav>

		<div class="container">
			<div class="row justify-content-center mt-5">
				<div class="col-md-6">
					{{{body}}}
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	</body>
</html>